include header.pug
.container.content-page
	.jumbotron
		h1.display-4 Impossible :-(
		p.lead
			| Cette page est reservée aux utilisateurs connectés.
		p.lead
			a.btn.btn-primary.btn-lg(href='/login', role='button') Se connecter