include header.pug
.container.content-page
	.jumbotron
		h1.display-4 Cette table est protegée par un mot de passe
		if fail
			.alert.alert-danger Mauvais mot de passe
		form(method="POST",action="")
			.form-group(id="passform")
				label(for="password") Mot de passe
					input.form-control(name="password",id="password",type="password",placeholder="Mot de passe")
			button.btn.btn-primary(type="submit") Rejoindre
include footer.pug